/*========================================================*/
/*  App                                                  */
/*=======================================================*/

:root {
  --background-dark: rgb(24, 23, 31);
}

body {
  background-color: var(--background-dark);
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

h1, h2, h3, p, li, span, input {
  font-family: 'Merriweather', serif;
  color: #fff;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.center {
  place-items: center;
}

/*=======================================================*/
/*  Component                                            */
/*=======================================================*/

main {
  height: 100dvh;
}

.movies-display {
  height: 100%;
}

h2 {
  font-size: 40px;
  text-align: center;
}

h2 span {
  color: #214cce;
}

p {
  text-align: center;
  color: rgb(255 255 255 / 0.5);
  margin-bottom: 25px;
}

form {
  position: relative;
  justify-content: center;
  margin-bottom: 60px;
}

input {
  border-radius: 5px;
  height: 44px;
  line-height: 44px;
  font-size: 15px;
  color: #fff;
}

input[type="text"] {
  width: 360px;
  background-color: rgb(29 28 36);
  padding: 0 15px;
  border: 1px solid rgb(255 255 255 / 0.05);
}

input[type="text"]:focus {
  border: 1px solid rgb(255 255 255 / 0.15);
}

input[type="button"] {
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  width: 130px;
  background-color: #2b58de;
  margin-left: 15px;
}

input[type="button"]:hover {
  background-color: #214cce;
}

.dropdown-content {
  display: none;
  margin-top: 2px;
  border-radius: 5px;
  position: absolute;
  top: 45px;
  left: 210px;
  background-color: rgb(31 30 38);
  border: 1px solid rgb(245 245 245 / 0.05);
  width: 360px;
  z-index: 9;
}

.dropdown-content li {
  color: #fff;
  padding: 12px 15px;
  display: block;
}

.dropdown-content li:hover {
  background-color: rgb(29 28 36);
}

.search-display {
  position: relative;
  left: -50px;
}

.movie-poster {
  width: 240px;
  height: 300px;
  margin-right: 25px;
  border-radius: 5px;
  background-size: cover;
}

.movie-writeup {
  text-align: left;
}

.movie-description {
  width: 660px;
  height: 300px;
}

.green {
  display: none;
  content: "";
  width: 7px;
  height: 7px;
  margin-top: 10px;
  background-color: #00ff00;
  border-radius: 50%;
}

h3 {
  font-size: 22px;
  padding-bottom: 5px;
}

.movie-release-date {
  padding-right: 10px;
}

.movie-runtime {
  padding-left: 10px;
}

.movie-genre {
  margin-right: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  width: 100px;
  height: 35px;
  line-height: 35px;
  border-radius: 30px;
  color: #fff;
  background-color: rgb(86 94 88 / 0.4);
  border: 1px solid rgb(255 255 255 / 0.05);
}

.show {
  display: block;
}

.pointer {
  cursor: pointer;
}

.show-seperate {
  display: inline-block; 
}